﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="~/Content/Home.css" rel="stylesheet" />
<div id="overlay">    </div>

    <div class="row" style="height:-webkit-fill-available;">
        <div class="col-md-6" style="height:-webkit-fill-available;">
            <div class="container">
                <img src="~/media/hospital1.jpg" alt="مستشفى" style="width:100%">
                <a href="~/Default/Steps"> <button class="btn"><b>زيارة مستشفى</b></button></a>
            </div>
        </div>
        <div class="col-md-6" style="height:-webkit-fill-available;">
            <div class="container">
                <img src="~/media/doctor-character-background_1270-84.jpg" alt="طبيب" style="width:100%">
                <button class="btn"><b>كشف طبيب</b></button>


            </div>

        </div>
    </div>


    @*<div class="row">
            <div class="col-md-6">
                <a href="~/Default/Steps"> <img width="50" height="20"  src="~/media/D70oloEWkAASJSS.jpg" />زيارة مستشفى</a>
            </div>
            <div class="col-md-6">
                <a href="LINK"> <img width="50" height="20" src="~/media/D70oloEWkAASJSS.jpg" />كشف طبيب</a>
            </div>
        </div>*@

