﻿@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('../fonts/elmessiri-font.css');

 
#overlay{
   position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0,0,0,0.3);
  

}


.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height:100px;
  margin-top: 250px;

}

.container img {
  width: 100%;
  height: 208px;
  border-radius: 20px;

}

.container .btn {
  position: absolute;
  top: 185%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d82323;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  width: 50%;
}

.container .btn:hover {
  background-color: black;
}




body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  
    background-image: url('../media/1092568.png');
    font-family: 'El Messiri';
    background-size: cover;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}
